.pagination {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.pagination li {
  padding: 10px 20px;
  border: 1px solid #e9e5e5;
}

.active {
  background-color: #34c780;
}
