@import "../../styles//Variables.scss";

.add-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  padding: 40px;
  width: 400px;
  border: 1px solid $light-grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  input {
    border: 1px solid $light-grey;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    margin: 10px;
  }

  button {
    width: 100%;
    height: 40px;
    background-color: $green;
    border-radius: 5px;
    transition: 0.3s;
    &:hover {
      background-color: $hover-green;
    }
  }
}
