//General colors:
$main-color: #11468f;
$white-text: #ffffff;
$light-grey: #d3d3d3;
$green: #2d9e64;
$hover-green: #34c780;
$red: #f15223;
$hover-red: #d46b6b;

//Social media:
$linkedin-color: #0e76a8;
