//General colors:
$main-color: #ec7703;
$white-text: #ffffff;
$light-grey: #d3d3d3;
$green: #3ded97;
$hover-green: #34c780;
$red: #d33939;
$hover-red: #d46b6b;

//Social media:
$linkedin-color: #0e76a8;
