@import "../../styles//Variables.scss";

.contacts-list {
  padding: 20px;
  text-align: left;
  border: 1px solid $light-grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.contacts-table {
  button {
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $red;
    transition: 0.3s;
    &:hover {
      background-color: $hover-red;
    }
  }
}
