h1 {
  margin: 0;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
}

.search-input {
  width: 580px;
  height: 40px;
  padding-left: 10px;
}

.center-container {
  display: flex;
}

@media only screen and (max-width: 650px) {
  .search-input {
    width: 320px;
  }
}
