.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 80px;
  color: white;
  background-color: #ffaa1b;
}

.icon {
  margin: 10px;
  color: white;
}

.linkedin-icon:hover {
  color: #0e76a8;
  transition: 0.3s;
}

.git-icon:hover {
  color: #dfdddd;
  transition: 0.3s;
}
