@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Gothic+A1:wght@100;200;300;400;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: rgb(117, 116, 116);
}

input {
  border: 1px solid #e9e5e5;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin: 10px;
  padding-left: 10px;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.add-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-right: 20px;
  width: 550px;
  border: 1px solid #e9e5e5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.add-edit-form button {
  width: 565px;
}

.btn-success {
  color: #ffffff;
  width: 100%;
  height: 40px;
  border: 1px solid #e9e5e5;
  background-color: #2d9e64;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-success:hover {
  background-color: #34c780;
}

.btn-danger {
  color: #ffffff;
  width: 40px;
  height: 40px;
  border: 1px solid #e9e5e5;
  background-color: #f15223;
  border-radius: 5px;
  transition: 0.3s;
}

.btn-danger:hover {
  background-color: #f08362;
}

.edit-icon {
  color: #2d9e64;
  width: 40px;
  transition: 0.3s;
}

.edit-icon:hover {
  color: #34c780;
}

.delete-icon {
  color: #f15223;
  width: 40px;
  transition: 0.3s;
}

.delete-icon:hover {
  color: #f08362;
}

@media only screen and (max-width: 1150px) {
  .center-container {
    flex-direction: column;
  }
  .add-edit-form {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .add-edit-form {
    width: 290px;
  }

  .add-edit-form button {
    width: 260px;
  }
}
