.contacts-list {
  width: 550px;
  padding: 20px;
  text-align: left;
  border: 1px solid #e9e5e5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.contacts-table {
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .contacts-list {
    font-size: 0.7rem;
    width: 320px;
    padding: 5px;
  }
}
